article p{
    background-color: blue;
    color: white;
    padding: 20px;
}


article > p {
    background: red;
}


article ~ p{
      background-color: purple;
    color: white;
    padding: 20px;
}
article + p{
    background: orange;
}